.imperial {
  font-family: 'Imperial Script', cursive;
}

.fadeColor{
  background: linear-gradient(to bottom, white, white,#ffffe2, #98ff98 );

}

.forumfont {
  font-family: 'Forum', cursive;

}

.homescreenimg {
  background-image: url(https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/img/splashscreen2.png);
  height:100vh;

}

.blackback {
  background-color: rgba(0, 0, 0, .8);
  height:100vh;
}

.schedcontainer {
  max-width: 100%;
  margin-right: 0%;
  margin-left: 0%;
  margin-top:0%;
}

.partycontainer {
    max-width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top:0%;
  }

.regmenu{
  display:none;
}

  /* hamburger menu below */
  
body
{
  margin: 0;
  padding: 0;

}

.mobilemenu{
  color: black;

}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: -50% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(90deg) ;
  background:black;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform:  translate(-14px, -14px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 90%;
  margin: -110px 0 0 -80px;
  padding: 50px;
  padding-top: 125px;
  text-align: left;
  background:#98ff98;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 0;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}