.imperial {
  font-family: 'Imperial Script', cursive;
}

.forumfont {
  font-family: 'Forum', cursive;
}

.homescreenimg {
  background-image: url(http://127.0.0.1:8000/static/img/IMG_4149.jpg);

}

.schedcontainer {
    max-width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top:0%;
  }