.imperial {
    font-family: 'Imperial Script', cursive;
  }
  
  .fadeColor{
    background: linear-gradient(to bottom, white, white,#ffffe2, #98ff98 );
    height:100vh;
  
  }
  
  .forumfont {
    font-family: 'Forum', cursive;
    cursor: url(https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/img/ring.png), auto ;
  }
  
  a:hover {
    cursor: url(https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/img/pointer.png), auto ;
  }
  
  .homescreenimg {
    background-image: url(https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/img/IMG_4149.jpg);
    background-size: cover !important;
  
  }
  
  .blackback {
    background-color: rgba(0, 0, 0, .8);
  }
  
    
  .errorcontainer {
    max-width: 60%;
    max-height: 50%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top:0%;
  }
  .schedcontainer {
      max-width: 60%;
      margin-right: 20%;
      margin-left: 20%;
      margin-top:0%;
    }
  @media(min-width:1025px) {
    .mobilemenu{
      display:none;
    }
  }
    
  