{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% block title %}
    <title> Uh Oh! </title>
    {% endblock title %}
  <head>
    <meta name="description" content="Forever Folade 2022"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Imperial+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css?v=777' %}">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="{% static 'css/mobile.css?v=777' %}"/>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/favicon.ico"/>
  
  </head>
  
  {% block content %}
  <body class="forumfont">
    <div class="floating-menu flex-wrap flex justify-between fl-100">

      
      <h1 class="tc  f1 fl w-100 f2 pt1  imperial ma0"> Fola & Lade </h1>
      <h5 class="tc  f5 fl w-100 pt0 forumfont ma0"> Friday, April 29 - Saturday, April 30 </h5>

      
  </div>
    <div class="cover bg-left bg-center-l" style="background-image: url(https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/img/404.png)">

      <div class="bg-black-50  ">
        <nav class="dt tc w-100 mw8 center"> 
          <div class="dtc w2 v-mid pa3">
          </div>
          
          
          <div class="dtc v-mid regmenu tr pt3 ph0">
            <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'story' %}" >Our Story</a> 
            <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'schedule' %}" >Schedule</a> 
            <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'registry' %}" >Registry</a> 
    
            <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'gallery' %}" >Gallery</a> 
    
            <div class="f1 fw3  black dn dib-l pl7 pv2 ph1 imperial"  >Fola & Lade </div> 
    
            <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'party' %}" >Wedding Party</a> 
            <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'accomodations' %}" > Travel & <br>Accommodations</a>
            <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 p12" href="{% url 'faq' %}" >FAQ</a> 
     
            <a class="f4 fw4 hover-green no-underline black dib ml2 pv2 ph2 ba" href="{% url 'findguest' %}" >RSVP</a> 
          </div>
        </nav> 
        <div class="mobilemenu black">
          <nav role="navigation">
            <div id="menuToggle">
              <!--
              A fake / hidden checkbox is used as click reciever,
              so you can use the :checked selector on it.
              -->
              <input type="checkbox" />
              
              <!--
              Some spans to act as a hamburger.
              
              They are acting like a real hamburger,
              not that McDonalds stuff.
              -->
              <span></span>
              <span></span>
              <span></span>
              
              <!--
              Too bad the menu has to be inside of the button
              but hey, it's pure CSS magic.
              -->
              <ul id="menu" class="mobilemenu">
                <a class="f2  hover-green no-underline black   mv7 " href="{% url 'story' %}" >Our Story</a> 
                <br>
                <a class="f2  hover-green no-underline black   mv7 " href="{% url 'schedule' %}" >Schedule</a> 
                <br>
                <a class="f2  hover-green no-underline black   mv7 " href="{% url 'accomodations' %}" >Travel & Accommodations</a> 
                <br>
                <a class="f2  hover-green no-underline black   mv7 " href="{% url 'party' %}" >Wedding Party</a> 
                <br>
                <a class="f2  hover-green no-underline black   mv7 " href="{% url 'gallery' %}" >Gallery</a> 
                <br>
                <a class="f2  hover-green no-underline black   mb7  mv7 " href="{% url 'registry' %}" >Registry</a>
                <br> 
                <a class="f2  hover-green no-underline black   mv7 " href="{% url 'faq' %}" >FAQ</a> 
                <br>
                <a class="f2  hover-green no-underline black  mv7  ba" href="{% url 'findguest' %}" >RSVP</a> 
              </ul>
            </div>
          </nav>
        </div>
      <div class="pb3 tc pb5-ns">
        <h1 class="f1 white-90 mb3 ph2 imperial lh-title">Uh Oh!</h1>
        </div>
      </div>
      </div>
<div class="tc pt5 schedcontainer partycontainer">
  <h1>Oops! The page you're looking for can't be found. </h1>
            
  <h2>Try Jesus, don't try that page.</h2> 

</div>
      
  </body>
  {% endblock content %}
</html>
