{% extends 'base.html' %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Accomodations </title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
 
  {% block header %}


  {% endblock header %}
  
  
  {% block content %}
 
  <body class="forumfont ">
    <img class=" center topimg flex mb0 pb0 fl-w-100 pt0" src="https://folade.s3.us-east-2.amazonaws.com/static/img/PngItem_789758.png">

      <section class="mw7 center  ph4 tc forumfont ">
        <h1 class="imperial f1 tc fw1 ph3 ph0-l">Travel & Accomodations</h1>
        <h1 class="f3 fw1  tc mt0 lh-title">Travel Information</h1>

        {% for travel in travels %}
          <div class="db pv4 ph3  no-underline black ">
            <div class="flex flex-column flex-row-ns">


            {% if travel.image %}

              <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                <img src="{{ travel.image.url }}" alt="{{ travel.image_alt_text }}" class="db">
              </div>
            {% endif %}
              <div class="w-100 tc  pl3-ns">
                {% if travel.location %}
                  <h1 class="f4 fw1  mt0 lh-title">{{ travel.location}}</h1>
                {% endif %}
                {% if travel.detail %}
                    <p class="f6 f5-l lh-copy">
                      {{travel.detail}}
                    </p>
                {% endif %}
                {% if travel.departure_time %}
                    <p class="f6 lh-copy mv0">
                      {{travel.departure_time}}
                    </p>
                {% endif %}
                {% if travel.venue_distance %}
                <p class="f6 lh-copy mv0">
                  - {{travel.venue_distance }}
                </p>
                {% endif %}
                {% if travel.downtown_distance %}
                <p class="f6 lh-copy mv0">
                  - {{travel.downtown_distance }}
                </p>
                {% endif %}
                
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="bt bb b--black-10"></div>

        {% for accomodation in accomodations %}
          <a class="db pv4 ph3  no-underline black " href="{{ accomodation.link }}">
            <div class=" tc flex flex-column flex-row-ns">
              {% if accomodation.image %}

                <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
                  <img src="{{ accomodation.image.url }}" alt="{{ accomodation.image_alt_text }}" class="db">
                </div>
              {% endif %}

              <div class="w-100 pl3-ns">
                {% if accomodation.title %}

                <h1 class="f3 fw1  mt0 lh-title">{{ accomodation.title}}</h1>
                {% endif %}

                {% if accomodation.detail %}
                <p class="f6 f5-l lh-copy">
                  {{accomodation.detail}}
              </p>
              {% endif %}

              {% if accomodation.location %}
                <p class="f6 lh-copy mv0">
                 {{ accomodation.location}}
              </p>
              {% endif %}

              {% if accomodation.phone %}
              <p class="f6 lh-copy mv0">
                {{ accomodation.phone}}
              </p>
              {% endif %}

              {% if accomodation.block_name %}
              <p class="f6 lh-copy mv0">
                <b>Block Name: </b> {{ accomodation.block_name }}
              </p>    
              {% endif %}

              {% if accomodation.block_rate %}
              <p class="f6 lh-copy mv0">
                <b>Block Rate: </b>{{ accomodation.block_rate }}
              </p>
              {% endif %}

              {% if accomodation.deadline %}
              <p class="f6 mv0">
                <b>Deadline: </b>{{ accomodation.deadline }}
              </p>
              {% endif %}

              </div>
            </div>
          </a>
       {% endfor %}
  
      </section>

      <div class="green flex grow center tc slider pt5 mt5 fl-100">
        {% for scripture in scriptures %}
            <div class="{% cycle 'slide1' 'slide2' 'slide3' %} "> 
                <h5 class="f4 mb0 pb0 tc">  "{{ scripture.scripture }}" </h5> 
                <h5  class="f6  tc">  - {{ scripture.source  }} </h5>
            </div>
            {% endfor %}
          </div>
  

    {% if song.link %}
      <iframe class="middle pb1" width="0%" height="0" src="{{song.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> 
    {% else %}
      <div></div>
    {% endif %}
    </body>

  {% endblock content %}
  
  {% block footer %}
  
  
  
  {% endblock footer %}

</html>
