{% load static %}


<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Folade2022 </title>
  {% endblock title %}
<head>
  <meta name="description" content="Forever Folade 2022"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Forum&family=Imperial+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css?v=777' %}">
  <link rel="stylesheet" media="screen and (max-width: 1024px)" href="{% static 'css/mobile.css?v=777' %}"/>
  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/favicon.ico"/>

</head>
{% block header %}


{% endblock header %}


{% block content %}


{% endblock content %}

<footer class="pv5 pt7 mt7 footer ph3 ph5-m ph6-l mid-gray">
  <small class="f4 db pb1 tc"><b>#ForeverFolade2022</b></small>
  <small class="f6 db tc">© 2022 <b class="ttu">Fola & Lade</b>, All Rights Reserved</small>
  <div class="tc mt3">
    <a href="{% url 'schedule' %}" class="f6 dib ph2 link mid-gray dim">Schedule</a>
    <a href="{% url 'accomodations' %}" class="f6 dib ph2 link mid-gray dim">Accomodations</a>
    <a href="{% url 'faq' %}" class="f6 dib ph2 link mid-gray dim">FAQ</a>
    <a class="f6 dib ph2 link mid-gray dim" href="{% url 'findguest' %}"><span>RSVP</span></a>
  </div>
</footer>
{% block footer %}



{% endblock footer %}


</html>