{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Gallery </title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

  {% block header %}


{% endblock header %}


{% block content %}



  <body class= 'forumfont'>
     
    <img class=" center topimg flex fl-w-100 pt0" src="https://folade.s3.us-east-2.amazonaws.com/static/img/PngItem_789758.png">

      <article class="pt0 tc pb1 ph5-ns">
        <h1 class="f1 imperial">Gallery</h1>
      </article>
      {% for img in pictures %}
        <div class="{% cycle 'fl w-50 w-25-ns' 'fl w-50 w-25-ns' 'fl w-50 w-25-ns' 'fl w-50 w-25-ns' 'fl w-50' 'fl w-50 w-25-ns' 'fl w-50 w-25-ns' 'fl w-50 w-25-ns'  'fl w-100 w-25-ns' 'fl w-50 w-25-ns' 'fl w-50 w-25-ns' 'fl w-50 w-25-ns' 'fl w-50 w-25-ns' 'fl w-50' 'fl w-50' 'fl w-50' 'fl w-50' 'fl w-100 w-50-l' 'fl w-100' %}">
          <div class="db aspect-ratio aspect-ratio--1x1 dim">
            <span role="img" aria-label="{{ img.image_alt_text }}" alt="{{ img.image_alt_text}}" style="background-image:url({{ img.image.url }});" class="bg-center cover aspect-ratio--object"></span>
          </div>
        </div>  
      {% endfor %}
    </article>


    <div class="green flex grow center tc slider mt5 pt5 fl-100">
      {% for scripture in scriptures %}
          <div class="{% cycle 'slide1' 'slide2' 'slide3' %} "> 
              <h5 class="f4 mb0 pb0 tc">  "{{ scripture.scripture }}" </h5> 
              <h5  class="f6  tc">  - {{ scripture.source  }} </h5>
          </div>
          {% endfor %}
    </div>





    
    <!-- {% if song.link %}
    <iframe class="middle pb1" width="0%" height="0" src="{{song.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> 
    {% else %}
    <div></div>
    {% endif %} -->
  </body>
  {% endblock content %}

{% block footer %}
{% endblock footer %}
</html>
