{% load static %}

<!DOCTYPE html>
<html lang="en">
  <title> Folade2022 </title>
  <head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Forever Folade 2022"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Imperial+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="https://folade.s3.us-east-2.amazonaws.com/static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="https://folade.s3.us-east-2.amazonaws.com/static/css/mobile.css"/>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/favicon.ico"/>

    <style> .mySlides {display:none;} </style>
    <style> .mySlips {display:none;} </style>

</head>

  
{% block content %}

  <body class='forumfont '>
      



        <div class="mySlides homescreenimg1 mb0 bg-left bg-center-l" >
          <div class="blackback pb0 pb0-m pb0-l">
            <div class="dtc w2 v-mid pa0">
            </div>


            <div class="tc  mt4 mt5-m mt6-l center ph3">
              <h1 class="f1 f1-l  fw2 white-90 mb0 imperial lh-title">Fola & Lade</h1>
              <h2 class="fw1 f3 white-80 mt3 mb1">"I have found the one whom my soul loves"</h2>
              <h3 class="fw1 f5 white-80 mt1 mb4"> - Song of Solomon  3:4"</h3>
              <h2 class="fw1 f2 white-80 mt1 mb4">Fri. April 29 & <br> Sat. April 30, 2022</h2>

              <a class="f3 no-underline grow  white bw2 ba b--green ph3 pv2 mt3 mv3 mb5" href="{% url 'story' %}">Enter Site</a>
              <br>
              <br>
              <span class="dib v-mid ph3 white-70 ">or</span>
              <br>
              <br>
              <a class="f4 no-underline grow  white bw2 ba b--white ph3 pv2 mv3 mt5" href="{% url 'interest' %}">Express Interest</a>
            </div>
        
            <div class='pt6 pb0 mb0'>
                <small class="f4 db pt3 pb3 green tc">Wedding Weekend Countdown</small>
                <div id="timer" class="  timer" >
                  <div class="number-list">
                    <div class="item" data-days="">00</div>
                    <div class="item" data-hours="">00</div>
                    <div class="item" data-minutes="">00</div>
                    <div class="item" data-seconds="">00</div>
                  </div>
                  <div class="unit-list">
                    <div class="item">Days</div>
                    <div class="item">Hours</div>
                    <div class="item">Minutes</div>
                    <div class="item">Seconds</div>
                  </div>
                </div>
            </div>


          </div>
        </div> 




          <div class="mySlides homescreenimg2 mb0 bg-left bg-center-l" >
            <div class="blackback pb0 pb0-m pb0-l">
              <div class="dtc w2 v-mid pa0">
              </div>


                <div class="tc  mt4 mt5-m mt6-l center ph3">
                  <h1 class="f1 f1-l  fw2 white-90 mb0 imperial lh-title">Fola & Lade</h1>
                  <h2 class="fw1 f3 white-80 mt3 mb1">"I have found the one whom my soul loves"</h2>
                  <h3 class="fw1 f5 white-80 mt1 mb4"> - Song of Solomon  3:4"</h3>
                  <h2 class="fw1 f2 white-80 mt1 mb4">Fri. April 29 & <br> Sat. April 30, 2022</h2>

                  <a class="f3 no-underline grow  white bw2 ba b--green ph3 pv2 mt3 mv3 mb5" href="{% url 'story' %}">Enter Site</a>
                  <br>
                  <br>
                  <span class="dib v-mid ph3 white-70 ">or</span>
                  <br>
                  <br>
                  <a class="f4 no-underline grow  white bw2 ba b--white ph3 pv2 mv3 mt5" href="{% url 'interest' %}">Express Interest</a>
                </div>
          
                <div class='pt6 pb0 mb0'>
                    <small class="f4 db pt3 pb3 green tc">Wedding Weekend Countdown</small>
                    <div id="timer2" class="  timer" >
                      <div class="number-list">
                        <div class="item" data-days2="">00</div>
                        <div class="item" data-hours2="">00</div>
                        <div class="item" data-minutes2="">00</div>
                        <div class="item" data-seconds2="">00</div>
                      </div>
                      <div class="unit-list">
                        <div class="item">Days</div>
                        <div class="item">Hours</div>
                        <div class="item">Minutes</div>
                        <div class="item">Seconds</div>
                      </div>
                    </div>
                </div>


            </div>

          </div> 






            <div class="mySlides homescreenimg3 mb0 bg-left bg-center-l" >
              <div class="blackback pb0 pb0-m pb0-l">
                <div class="dtc w2 v-mid pa0">
                </div>


                  <div class="tc  mt4 mt5-m mt6-l center ph3">
                    <h1 class="f1 f1-l  fw2 white-90 mb0 imperial lh-title">Fola & Lade</h1>
                    <h2 class="fw1 f3 white-80 mt3 mb1">"I have found the one whom my soul loves"</h2>
                    <h3 class="fw1 f5 white-80 mt1 mb4"> - Song of Solomon  3:4"</h3>
                    <h2 class="fw1 f2 white-80 mt1 mb4">Fri. April 29 & <br> Sat. April 30, 2022</h2>

                    <a class="f3 no-underline grow  white bw2 ba b--green ph3 pv2 mt3 mv3 mb5" href="{% url 'story' %}">Enter Site</a>
                    <br>
                    <br>
                    <span class="dib v-mid ph3 white-70 ">or</span>
                    <br>
                    <br>
                    <a class="f4 no-underline grow  white bw2 ba b--white ph3 pv2 mv3 mt5" href="{% url 'interest' %}">Express Interest</a>
                  </div>
            
                    <div class='pt6 pb0 mb0'>
                        <small class="f4 db pt3 pb3 green tc">Wedding Weekend Countdown</small>
                        <div id="timer3" class="  timer" >
                          <div class="number-list">
                            <div class="item" data-days3="">00</div>
                            <div class="item" data-hours3="">00</div>
                            <div class="item" data-minutes3="">00</div>
                            <div class="item" data-seconds3="">00</div>
                          </div>
                          <div class="unit-list">
                            <div class="item">Days</div>
                            <div class="item">Hours</div>
                            <div class="item">Minutes</div>
                            <div class="item">Seconds</div>
                          </div>
                        </div>
                    </div>


              </div>

            </div> 

             
            <div class="mySlides homescreenimg4 mb0 bg-left bg-center-l" >
              <div class="blackback pb0 pb0-m pb0-l">
                <div class="dtc w2 v-mid pa0">
                </div>
  
  
                  <div class="tc  mt4 mt5-m mt6-l center ph3">
                    <h1 class="f1 f1-l  fw2 white-90 mb0 imperial lh-title">Fola & Lade</h1>
                    <h2 class="fw1 f3 white-80 mt3 mb1">"I have found the one whom my soul loves"</h2>
                    <h3 class="fw1 f5 white-80 mt1 mb4"> - Song of Solomon  3:4"</h3>
                    <h2 class="fw1 f2 white-80 mt1 mb4">Fri. April 29 & <br> Sat. April 30, 2022</h2>
  
                    <a class="f3 no-underline grow  white bw2 ba b--green ph3 pv2 mt3 mv3 mb5" href="{% url 'story' %}">Enter Site</a>
                    <br>
                    <br>
                    <span class="dib v-mid ph3 white-70 ">or</span>
                    <br>
                    <br>
                    <a class="f4 no-underline grow  white bw2 ba b--white ph3 pv2 mv3 mt5" href="{% url 'interest' %}">Express Interest</a>
                  </div>
            
                  <div class='pt6 pb0 mb0'>
                      <small class="f4 db pt3 pb3 green tc">Wedding Weekend Countdown</small>
                      <div id="timer4" class="  timer" >
                        <div class="number-list">
                          <div class="item" data-days4="">00</div>
                          <div class="item" data-hours4="">00</div>
                          <div class="item" data-minutes4="">00</div>
                          <div class="item" data-seconds4="">00</div>
                        </div>
                        <div class="unit-list">
                          <div class="item">Days</div>
                          <div class="item">Hours</div>
                          <div class="item">Minutes</div>
                          <div class="item">Seconds</div>
                        </div>
                      </div>
                  </div>
  
  
              </div>
  
            </div> 

          

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://folade.s3.us-east-2.amazonaws.com/static/js/timer.js" type="text/javascript" ></script>
      <script src="https://folade.s3.us-east-2.amazonaws.com/static/js/timer2.js" type="text/javascript" defer></script>
      <script src="https://folade.s3.us-east-2.amazonaws.com/static/js/timer3.js" type="text/javascript" defer></script>
      <script src="https://folade.s3.us-east-2.amazonaws.com/static/js/timer4.js" type="text/javascript" defer></script>
      <script src="https://folade.s3.us-east-2.amazonaws.com/static/js/carousel.js" type="text/javascript" ></script>

  </body>
  {% endblock content %}

</html>
