{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <title> Folade2022 </title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css?v=1.555' %}">
	<link rel="stylesheet" media="screen and (max-width: 1024px)" href="{% static 'css/mobile.css?v=1.777' %}"/>
  </head>

  {% block content %}
  <body class='forumfont'>
      
      
        <div class="cover homescreenimg mb2 bg-left bg-center-l" >
          <div class="bg-black-80 pb5 pb6-m pb7-l">
            <nav class="dt w-100 white mw8 center"> 
                <div class="dtc w2 v-mid pa3">
                </div>

              </nav> 
            <div class="tc mt4 mt5-m mt6-l center ph3">
              <h1 class="f1 f1-l fw2 white-90 mb0 imperial lh-title">Fola & Lade</h1>
              <h2 class="fw1 f3 white-80 mt3 mb1">"I have found the one whom my soul loves"</h2>
              <h3 class="fw1 f5 white-80 mt1 mb5"> - Song of Solomon  3:4"</h3>
              <a class="f3 no-underline grow dib v-mid bg-green white  ph3 pv2 mb5" href="story">Enter Site</a>
            </div>
            
          </div>
        </div> 
        {% if messages %}
        {% for message in messages %}
            
            <h5 class="{{ message.tags }} f3 mv1 pb3">
                {{ message }}
            </h5>
        {% endfor %}
        {%else%} 
        <h5 class="f4 mt3 mv2 tc container">Interested in attending?</h5> 
        <h5 class="f5 mt2 tc container">Fill out this form & we will be in contact</h5> 

        <article class="ph4 tc black-80">
          <form action="sign-up_submit" method="get" accept-charset="utf-8">
            <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
              <legend class="ph0 mh0 fw6 clip">RSVP</legend>
              <div class="mt0">
                <label class="db fw4 lh-copy f6" for="email-address">Email address</label>
                <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email-address"  id="email-address">
              </div>
              <div class="mt3">
                <label class="db fw4 lh-copy f6" for="password">Password</label>
                <input class="b pa2 input-reset ba bg-transparent" type="password" name="password"  id="password">
              </div>
            </fieldset>
          </form>
        </article>

        <br>
       
        <div class="f5 mt2 mv1 pb3 tc container">
        <form role = "form" action="" method = "post" >
            {% csrf_token %}
            {{ form.as_table }}
            <button class="b ph3 input-reset ba b--black bg-transparent grow pointer f6" type = "send">Express Interest</button>
        </form>
        </div>
        {% endif %}
  </body>
  {% endblock content %}

</html>
