{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Hosts & Hostesses </title>
  {% endblock title %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block header %}

{% endblock header %}


{% block content %}

<body class='forumfont ' >
  <img class=" center topimg flex fl-w-100 pt0" src="https://folade.s3.us-east-2.amazonaws.com/static/img/euca.png">

  {% for flag in dev_flag %}
  {% if flag.host_page  %}
  <h1 class="f1 mw6 center pt2 mt3 imperial tc">Hosts & Hostesses</h1>

      <div class="f5 mt1 errorcontainer mv1 pt1 pb3 tc container">
        <h5 class="f2 mt0 ph3 tc container">Coming Soon!</h5>
      </div>
  {% else %}
      <h1 class="f1 mw6 center pt3 mt3 imperial tc">Hosts & Hostesses</h1>

      <main class=" pt2 ph4  flex flex-column flex-row-ns center">
 
              {% for person in hosts %}

                    <article class="center  tc bg-white br3 ph3 pt3 ph4-ns mt3  ba b--black-10">
                      <div class="tc">
                        <img src="{{ person.image.url }}" class="br-100 h3 w3 dib" alt="{{ person.image_alt_text }}">
                        <h1 class="f4">{{person.first_name}} {{person.last_name}}</h1>
                        <hr class="mw3 bb bw1 b--black-10">
                      </div>
                      <p class="lh-copy measure center f5 ">
                          {{person.role}}
                      </p>
                      <p class="lh-copy measure center f6 black-70">
                          {{person.description}}
                      </p>
                    </article>

                {% endfor %}
          {% endif %}
          {% endfor %}
      </main>

      {% if song.link %}
      <iframe class="middle pb1" width="0%" height="0" src="{{song.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> 
      {% else %}
      <div></div>
      {% endif %}
  {% endblock content %}
  {% block footer %}

{% endblock footer %}
</body>
</html>
