{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <title> Folade2022 </title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css?v=1.777' %}">
	<link rel="stylesheet" media="screen and (max-width: 1024px)" href="{% static 'css/mobile.css?v=1.777' %}"/>
  </head>

  {% block content %}
        <body class='forumfont fadeColor'>
            <div class="cover bg-left bg-center-l" style="background-image: url(http://127.0.0.1:8000/static/img/grad.png)">
                <div class="bg-black-80  ">
                    <div class="dtc w2 v-mid pa3">
                    </div>
                  <div class="pb3 tc pb5-ns">
                    <h1 class="f1 white-90 mb3 ph2 imperial lh-title">Fola & Lade</h1>
                    </div>
                  </div>
                  </div>
                  <div class="schedcontainer ">
                    {% if messages %}
                    {% for message in messages %}
                        
                        <h5 class="{{ message.tags }} f3 ph3 mv1 pb3">
                            {{ message }}
                        </h5>
                    {% endfor %}
                    {%else%} 
                    <h5 class="f3 mt3 mv2 ph3 tc container">Interested in attending our wedding?</h5> 
                    <h5 class="f4 mt2 tc ph3 container">Fill out this form & we will be in contact</h5>   

                    <br>
                
                    <div class="f5 mt1 mv1 pt1 pb3 tc container">
                    <form role = "form" action="" method = "post" >
                        {% csrf_token %}
                        {{ form.as_table }}
                        <br>
                        <button class="b ph3 mt3 input-reset bg-green ba b--black bg-transparent grow pointer f4" type = "send">Express Interest</button>
                    </form>
                    </div>
                    {% endif %}
                  </div>
                 

                  {% endblock content %}
                  {% block footer %}
                  {% endblock footer %}

           
        </body>

</html>
