{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Wedding Party </title>
  {% endblock title %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.myPics {display:none;}
</style>
</head>
{% block header %}

{% endblock header %}


{% block content %}

<body class='forumfont ' >

  <nav class="dt tc w-100 mw8 center"> 
    <div class="dtc w2 v-mid pa3">
    </div>
    
    
    <div class="dtc v-mid regmenu tr pt3 ph0">
      <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'story' %}" >Our Story</a> 
      <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'schedule' %}" >Schedule</a> 
      <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'registry' %}" >Registry</a> 

      <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'gallery' %}" >Gallery</a> 

      <div class="f1 fw3  black dn dib-l pl7 pv2 ph1 imperial"  >Fola & Lade </div> 

      <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'party' %}" >Wedding Party</a> 
      <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'accomodations' %}" > Travel & Accommodations</a>
      <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 p12" href="{% url 'faq' %}" >FAQ</a> 

      <a class="f4 fw4 hover-green no-underline black dib ml2 pv2 ph2 ba" href="{% url 'findguest' %}" >RSVP</a> 
    </div>
  </nav> 
  <div class="mobilemenu black">
    <nav role="navigation">
      <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox" />
        
        <!--
        Some spans to act as a hamburger.
        
        They are acting like a real hamburger,
        not that McDonalds stuff.
        -->
        <span></span>
        <span></span>
        <span></span>
        
        <!--
        Too bad the menu has to be inside of the button
        but hey, it's pure CSS magic.
        -->
        <ul id="menu" class="mobilemenu">
          <a class="f2  hover-green no-underline black   mv7 " href="{% url 'story' %}" >Our Story</a> 
          <br>
          <a class="f2  hover-green no-underline black   mv7 " href="{% url 'schedule' %}" >Schedule</a> 
          <br>
          <a class="f2  hover-green no-underline black   mv7 " href="{% url 'accomodations' %}" >Accomodations</a> 
          <br>
          <a class="f2  hover-green no-underline black   mv7 " href="{% url 'hosts' %}" >Hosts</a> 
          <br>
          <a class="f2  hover-green no-underline black   mv7 " href="{% url 'party' %}" >Wedding Party</a> 
          <br>
          <a class="f2  hover-green no-underline black   mv7 " href="{% url 'gallery' %}" >Gallery</a> 
          <br>
          <a class="f2  hover-green no-underline black   mb7  mv7 " href="{% url 'registry' %}" >Registry</a>
          <br> 
          <a class="f2  hover-green no-underline black   mv7 " href="{% url 'faq' %}" >FAQ</a> 
          <br>
          <a class="f2  hover-green no-underline black  mv7  ba" href="{% url 'findguest' %}" >RSVP</a> 
        </ul>
      </div>
    </nav>
  </div>
  <img class=" center topimg flex fl-w-100 pt0" src="https://folade.s3.us-east-2.amazonaws.com/static/img/PngItem_789758.png">

      <h1 class="f1 mw6 center mt5 imperial tc">Wedding Party</h1>

      <main class="mw6 pt2   center">
        {% for flag in dev_flag %}
        {% if flag.party_page  %}
            <div class="f5 mt1 errorcontainer mv1 pt1 pb3 tc container">
              <h5 class="f2 mt0 ph3 tc container">Coming Soon!</h5>
            </div>
        {% else %}

            <main class=" pt2 ph4  flex flex-column flex-row-ns center">
    
              {% for person in party %}

                    <article class="center  tc bg-white br3 ph3 pt3 ph4-ns mt3  ba b--black-10">
                      <div class="tc">
                        <img src="{{ person.image.url }}" class="br-100 h3 w3 dib" alt="{{ person.image_alt_text }}">
                        <h1 class="f4">{{person.first_name}} {{person.last_name}}</h1>
                        <hr class="mw3 bb bw1 b--black-10">
                      </div>
                      <p class="lh-copy measure center f5 ">
                          {{person.role}}
                      </p>
                      <p class="lh-copy measure center f6 black-70">
                          {{person.description}}
                      </p>
                    </article>

                {% endfor %}
          {% endif %}
          {% endfor %}
      </main>



        <div class="f5 measure pt5 mt5">
          <div class="fl-100 ">
            <div class="tc">
              <button class="b ph3 mt3 mh3 white bg-green ba b--black bg-transparent grow  f3" onclick="plusDivs(-1)">&#10094;</button>
              <button class="b ph3 mt3 mh3  white bg-green ba b--black bg-transparent grow  f3" onclick="plusDivs(1)">&#10095;</button>

              
            {% for pic in carouselpics %}
                  <div class=" myPics">
                    <div class=" f5 pv3 tc">
                      {{ pic.caption }}
                  </div>
                    <img src="{{ pic.image.url }}"  alt="{{ pic.image_alt_text }}">
                    
                  </div>

            {% endfor %}

          </div>

          </div>
        </div>



      </main>
      {% if song.link %}
      <iframe class="middle pb1" width="0%" height="0" src="{{song.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> 
      {% else %}
      <div></div>
      {% endif %}


      <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("myPics");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }
        </script>      
  </body>
  {% endblock content %}
  {% block footer %}

{% endblock footer %}
</html>
