{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Wedding Party </title>
  {% endblock title %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block header %}

{% endblock header %}


{% block content %}
  <body class='forumfont '>
    <nav class="dt w-100 mw8 regmenu enter"> 
        <div class="dtc w2 v-mid pa3">
        </div>
        <div class="dtc v-mid tr pa3">
          <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph3" href="{% url 'story' %}" >Our Story</a> 
          <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph3" href="{% url 'schedule' %}" >Schedule</a> 
          <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph3" href="{% url 'accomodations' %}" >Accomodations</a> 
          <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph3" href="{% url 'party' %}" >Wedding Party</a> 
          <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph3" href="{% url 'gallery' %}" >Gallery</a> 
          <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph3" href="{% url 'registry' %}" >Registry</a> 
          <a class="f4 fw4 hover-green no-underline black dib ml2 pv2 ph3 ba" href="{% url 'findguest' %}" >RSVP</a> 
        </div>
      </nav> 
      <div class="mobilemenu black">
        <nav role="navigation">
          <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
            <input type="checkbox" />
            
            <!--
            Some spans to act as a hamburger.
            
            They are acting like a real hamburger,
            not that McDonalds stuff.
            -->
            <span></span>
            <span></span>
            <span></span>
            
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <ul id="menu" class="mobilemenu">
              <a class="f2  hover-green no-underline black   mv6 " href="{% url 'story' %}" >Our Story</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv6 " href="{% url 'schedule' %}" >Schedule</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv6 " href="{% url 'accomodations' %}" >Accomodations</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv6 " href="{% url 'party' %}" >Wedding Party</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv6 " href="{% url 'gallery' %}" >Gallery</a> 
              <br>
              <a class="f2  hover-green no-underline black   mb7  mv6 " href="{% url 'registry' %}" >Registry</a>
              <br> 
              <a class="f2  hover-green no-underline black  mv4  ba" href="{% url 'findguest' %}" >RSVP</a> 
            </ul>
          </div>
        </nav>
      </div>
      <h1 class="f1 mw6 center mt5 imperial tc">Wedding Party</h1>

      <main class="mw6 pt2 partycontainer  center">


        <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
            <div class="dtc w2 w3-ns v-mid">
              <img src="http://mrmrs.github.io/photos/p/5.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
            </div>
            <div class="dtc v-mid pl3">
              <h1 class="f6 f5-ns fw6 lh-title black mv0">First Name Last Name</h1>
              <h2 class="f6 fw4 mt0 mb0 black-60">Maid of Honor</h2>
            </div>
          </article>

        <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
          <div class="dtc w2 w3-ns v-mid">
            <img src="http://mrmrs.github.io/photos/p/7.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
          </div>
          <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">First Name Last Name</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">Bridesmaid</h2>
          </div>
        </article>

        <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
          <div class="dtc w2 w3-ns v-mid">
            <img src="http://mrmrs.github.io/photos/p/10.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
          </div>
          <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">First Name Last Name</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">Bridesmaid</h2>
          </div>
        </article>

        <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
          <div class="dtc w2 w3-ns v-mid">
            <img src="http://mrmrs.github.io/photos/p/11.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
          </div>
          <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">First Name Last Name</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">Bridesmaid</h2>
          </div>
        </article>

        <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
          <div class="dtc w2 w3-ns v-mid">
            <img src="http://mrmrs.github.io/photos/p/2.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
          </div>
          <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">First Name Last Name</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">Best Man</h2>
          </div>
        </article>

        <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
          <div class="dtc w2 w3-ns v-mid">
            <img src="http://mrmrs.github.io/photos/p/3.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
          </div>
          <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">First Name Last Name</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">Groomsmen</h2>
          </div>
        </article>

        <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
          <div class="dtc w2 w3-ns v-mid">
            <img src="http://mrmrs.github.io/photos/p/4.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
          </div>
          <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">First Name Last Name</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">Groomsmen</h2>
          </div>
        </article>

        <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
          <div class="dtc w2 w3-ns v-mid">
            <img src="http://mrmrs.github.io/photos/p/6.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
          </div>
          <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">First Name Last Name</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">Groomsmen</h2>
          </div>
        </article>

       

      </main>
  </body>
  {% endblock content %}
  {% block footer %}

{% endblock footer %}
</html>
