{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Registry </title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  
  {% block content %}
  <body class="forumfont ">
    {% for pic in banner %}
      {% if pic.registry_page %}
        <div class="cover bg-left bg-center-l" style="background-image: url({{ pic.image.url }})" aria-label="{{ pic.image_alt_text }}" alt="{{ pic.image_alt_text}}">
      {% endif %}
    {% endfor %}
      <div class="bg-white-50  ">
      <nav class="dt tc w-100 mw8 center"> 
        <div class="dtc w2 v-mid pa3">
        </div>
        
        
        <div class="dtc v-mid regmenu tr pt3 ph0">
          <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'story' %}" >Our Story</a> 
          <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'schedule' %}" >Schedule</a> 
          <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'registry' %}" >Registry</a> 
  
          <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'gallery' %}" >Gallery</a> 
  
          <div class="f1 fw3  black dn dib-l pl7 pv2 ph1 imperial"  >Fola & Lade </div> 
  
          <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'party' %}" >Wedding Party</a> 
          <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'accomodations' %}" > Travel & Accommodations</a>
          <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 p12" href="{% url 'faq' %}" >FAQ</a> 
   
          <a class="f4 fw4 hover-green no-underline black dib ml2 pv2 ph2 ba" href="{% url 'findguest' %}" >RSVP</a> 
        </div>
      </nav> 
      <div class="mobilemenu black">
        <nav role="navigation">
          <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
            <input type="checkbox" />
            
            <!--
            Some spans to act as a hamburger.
            
            They are acting like a real hamburger,
            not that McDonalds stuff.
            -->
            <span></span>
            <span></span>
            <span></span>
            
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <ul id="menu" class="mobilemenu">
              <a class="f2  hover-green no-underline black   mv7 " href="{% url 'story' %}" >Our Story</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv7 " href="{% url 'schedule' %}" >Schedule</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv7 " href="{% url 'accomodations' %}" >Accomodations</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv7 " href="{% url 'hosts' %}" >Hosts</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv7 " href="{% url 'party' %}" >Wedding Party</a> 
              <br>
              <a class="f2  hover-green no-underline black   mv7 " href="{% url 'gallery' %}" >Gallery</a> 
              <br>
              <a class="f2  hover-green no-underline black   mb7  mv7 " href="{% url 'registry' %}" >Registry</a>
              <br> 
              <a class="f2  hover-green no-underline black   mv7 " href="{% url 'faq' %}" >FAQ</a> 
              <br>
              <a class="f2  hover-green no-underline black  mv7  ba" href="{% url 'findguest' %}" >RSVP</a> 
            </ul>
          </div>
        </nav>
      </div>
      <div class="pb3 tc pb5-ns">
        <h1 class="f1 black mb3 ph2 imperial lh-title">Registry</h1>
        </div>
      </div>
      </div>
      {% for flag in dev_flag %}
      {% if flag.registry_page %}
          <div class="f5 mt1 errorcontainer mv1 pt5 pb3 tc container">
            <h5 class="f2 mt0 ph3 tc container">Coming Soon!</h5>
          </div>
      {% else %}
            {% for link in registry_links %}
                {% if link.zolaLink and link.zola_data_registry_key %}
                  <a class="zola-registry-embed" href="{{ link.zolaLink }}" data-registry-key="{{ link.zola_data_registry_key }}">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endfor %}
      
  </body>
  {% endblock content %}
</html>
