{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Registry </title>
  {% endblock title %}
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="description" content="Forever Folade 2022"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Imperial+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="https://folade.s3.us-east-2.amazonaws.com/static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="https://folade.s3.us-east-2.amazonaws.com/static/css/mobile.css"/>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/favicon.ico"/>
  
  </head>
  {% block content %}
  <body class="forumfont ">
    <div class="floating-menu flex-wrap flex justify-between fl-100">

      
      <h1 class="tc  f1 fl w-100 f2 pt1  imperial ma0"> Fola & Lade </h1>
      <h5 class="tc  f5 fl w-100 pt0 forumfont ma0"> Friday, April 29 - Saturday, April 30 </h5>

    </div>
    {% for pic in banner %}
      {% if pic.registry_page %}
        <div class="cover bg-left bg-center-l" style="background-image: url({{ pic.image.url }})" aria-label="{{ pic.image_alt_text }}" alt="{{ pic.image_alt_text}}">
      {% endif %}
    {% endfor %}
          <div class="bg-white-50  ">
          <nav class="dt tc w-100 mw8 center"> 
            <div class="dtc w2 v-mid pa3">
            </div>
            
            <div class="dtc v-mid regmenu tr pt3 ph0">
              <a class="f4 fw4 hover-green no-underline black dn dib-ns pv1 ph1" href="{% url 'home' %}" >Home</a> 
              <a class="f4 fw4 hover-green no-underline black dn dib-ns pv1 ph1" href="{% url 'story' %}" >Our Story</a> 
              <a class="f4 fw4 hover-green no-underline black dn dib-l pv1 ph1" href="{% url 'schedule' %}" >Schedule</a> 
              <a class="f4 fw4 hover-green no-underline black dn dib-ns pv1 ph1" href="{% url 'registry' %}" >Registry</a> 
      
              <a class="f4 fw4 hover-green no-underline black dn dib-l pv1 ph1" href="{% url 'gallery' %}" >Gallery</a> 
      
              <div class="f1 fw3  black dn dib-l pl7 pv1 ph1 imperial"  >Fola & Lade </div> 
      
              <a class="f4 fw4 hover-green no-underline black dn dib-l pv1 ph1" href="{% url 'party' %}" >Wedding Party</a> 
              <a class="f4 fw4 hover-green no-underline black dn dib-l pv1 ph1" href="{% url 'accomodations' %}" > Travel & Accommodations</a>
              <a class="f4 fw4 hover-green no-underline black dn dib-ns pv1 p12" href="{% url 'faq' %}" >FAQ</a> 
       
              <a class="f4 fw4 hover-green no-underline black dib ml2 pv1 ph1 ba" href="{% url 'findguest' %}" >RSVP</a> 
            </div>
          </nav> 
          <div class="mobilemenu black">
            <nav role="navigation">
              <div id="menuToggle">
                <!--
                A fake / hidden checkbox is used as click reciever,
                so you can use the :checked selector on it.
                -->
                <input type="checkbox" />
                
                <!--
                Some spans to act as a hamburger.
                
                They are acting like a real hamburger,
                not that McDonalds stuff.
                -->
                <span></span>
                <span></span>
                <span></span>
                
                <!--
                Too bad the menu has to be inside of the button
                but hey, it's pure CSS magic.
                -->
                <ul id="menu" class="mobilemenu">
                  <a class="f2  hover-green no-underline black mv7 " href="{% url 'home' %}" >Home</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'story' %}" >Our Story</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'schedule' %}" >Schedule</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'accomodations' %}" >Travel & <br>Accommodations</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'party' %}" >Wedding Party</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'gallery' %}" >Gallery</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mb7  mv7 " href="{% url 'registry' %}" >Registry</a>
                  <br> 
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'faq' %}" >FAQ</a> 
                  <br>
                  <a class="f2  hover-green no-underline black  mv7  ba" href="{% url 'findguest' %}" >RSVP</a> 
                </ul>
              </div>
            </nav>
          </div>
          <div class="pb3 tc pb5-ns">
            <h1 class="f1 black mb3 pv3 ph2 imperial lh-title"> </h1>
            </div>
          </div>
          </div>
      <h1 class="f1 black mb3 tc ph2 imperial lh-title">Registry</h1>

      {% for flag in dev_flag %}
      {% if flag.registry_page %}
          <div class="f5 mt1 errorcontainer mv1 pt5 pb3 tc container">
            <h5 class="f2 mt0 ph3 tc container">Coming Soon!</h5>
          </div>
      {% else %}
            {% for link in registry_links %}
                {% if link.zolaLink and link.zola_data_registry_key %}
                  <a class="zola-registry-embed" href="{{ link.zolaLink }}" data-registry-key="{{ link.zola_data_registry_key }}">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endfor %}


    <div class="green flex grow center tc slider pt5 mt5 fl-100">
      {% for scripture in scriptures %}
          <div class="{% cycle 'slide1' 'slide2' 'slide3' %} "> 
              <h5 class="f4 mb0 pb0 tc">  "{{ scripture.scripture }}" </h5> 
              <h5  class="f6  tc">  - {{ scripture.source  }} </h5>
          </div>
          {% endfor %}
        </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" samesite="None"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://folade.s3.us-east-2.amazonaws.com/static/js/timer.js" type="text/javascript" ></script>
    <script src="https://folade.s3.us-east-2.amazonaws.com/static/js/carousel.js" type="text/javascript" ></script>
  </body>
  {% endblock content %}

<footer class="pv5 pt7 mt7 footer ph3 ph5-m ph6-l mid-gray">
  <small class="f4 db pb3  tc">Wedding Weekend Countdown</small>
  <div id="timer" class=" pb4 timer" >
    <div class="number-list">
      <div class="item" data-days="">00</div>
      <div class="item" data-hours="">00</div>
      <div class="item" data-minutes="">00</div>
      <div class="item" data-seconds="">00</div>
    </div>
    <div class="unit-list">
      <div class="item">Days</div>
      <div class="item">Hours</div>
      <div class="item">Minutes</div>
      <div class="item">Seconds</div>
    </div>
  </div>
  <small class="f4 db pb1 tc"><b>#ForeverFolade2022</b></small>
  <small class="f6 db tc">© 2022 <b class="ttu">Fola & Lade</b>, All Rights Reserved</small>
  <div class="tc" >
    <a target="_blank" href="https://www.fiverr.com/share/KbweKb" class="f6 target_blank tc ph2 mid-gray dim">Website made with love by Tiazure Creations</a>
  </div>
  
  <div class="tc mt3">
    <a href="{% url 'schedule' %}" class="f6 dib ph2 link mid-gray dim">Schedule</a>
    <a href="{% url 'accomodations' %}" class="f6 dib ph2 link mid-gray dim">Travel & Accommodations</a>
    <a href="{% url 'faq' %}" class="f6 dib ph2 link mid-gray dim">FAQ</a>
    <a class="f6 dib ph2 link mid-gray dim" href="{% url 'findguest' %}"><span>RSVP</span></a>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://folade.s3.us-east-2.amazonaws.com/static/js/timer.js" type="text/javascript" ></script>
</footer>
</html>
