{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Responses </title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  {% block content %}

  <body class='forumfont ' >

    <article class="pa3 tc pa5-ns">
        <h1 class="f1 imperial">Responses</h1>
        <article class="cf pa3 mw9 center">
          <header class="fl w-100 tc pa3-m pa4-l mb3 mb0-l">
            <h2 class="lh-title f3 b mt0">
              RSVP "yes" responses and dietary resrictions  
            </h2>
          </header>

          <section class="fl w-100">
            {% for event in events %}
            <div class="fl w-100 w-50-m w-33-l pa3-m pa4-l">
              <p class="f6 lh-copy measure">
                <h2 class="lh-title f3 b mv0">{{ event.name }}</h2>
               
                  {% for key,value in yesses_dict.items %}
                      {% if key == event.name %}
                      <h2 class=" f4 b mv0">Guests & Plus Ones attending: {{ value }}</h2>
                      {% endif %}
                  {% endfor %}
                  <br>
                {% for invited in invitations %}
                    {% if invited.event == event %}
                      {% if invited.attending %} 
                        {{ invited.guest }}<br>
                      {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <h2 class="lh-title f5 b mt0"> {{ event.name }} Plus Ones </h2>
                {% for person in plus_ones %}
                  {% if person.accompanying.event == event %}
                    {{ person.name }} - coming with {{ person.accompanying.guest }}<br>
                  {% endif %}
                {% endfor %}
                <br>
                <div class="bt bb b--black-10"></div>

                <h2 class="lh-title f4 b mt0"> {{ event.name }} Vegan List </h2>
                {% for invited in invitations %}
                    {% if invited.event == event %}
                      {% if invited.attending %} 
                      {% if invited.guest.diet == "vegan" %}
                              {{ invited.guest }}<br>
                      {% endif %}
                      {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="bt bb b--black-10"></div>

                <h2 class="lh-title f4 b mt0"> {{ event.name }} Vegetarian List </h2>
                {% for invited in invitations %}
                    {% if invited.event == event %}
                      {% if invited.attending %} 
                      {% if invited.guest.diet == "vegetarian" %}
                              {{ invited.guest }}<br>
                      {% endif %}
                      {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="bt bb b--black-10"></div>


                <h2 class="lh-title f4 b mt0"> {{ event.name }} Allergies List </h2>
                {% for invited in invitations %}
                    {% if invited.event == event %}
                      {% if invited.attending %} 
                      {% if invited.guest.food_allergies|length > 2 %}
                              {{ invited.guest }} - {{ invited.guest.food_allergies }}<br>

                      {% endif %}
                      {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="bt bb b--black-10"></div>

  
   
                <br>
                  <br>

              <p>
            </div>
            {% endfor %}

            <br>
            <br>
          </section>


          <h2 class="lh-title tc schedcontainer f4 b mt0"> Guests interested in Aso Ebi 
          {% for key,value in aso.items %}
              : {{ value }}</h2>
          {% endfor %}
          <br>
          {% for guest in guests %}
              {% if guest.aso_ebi %}
                    {{ guest.name }} <br>
              {% endif %}
          {% endfor %}
          <div class="bt bb b--black-10"></div>

          <br>

          <h2 class="lh-title tc schedcontainer f4 b mt0"> Guests who have paid for Aso Ebi 
          {% for key,value in paid.items %}
            : {{ value }}</h2>
          {% endfor %}
          <br>
          {% for guest in guests %}
              {% if guest.aso_ebi_paid %}
                    {{ guest.name }} <br>
              {% endif %}
          {% endfor %}
          <div class="bt bb b--black-10"></div>

          <br>

          <h2 class="lh-title tc schedcontainer f4 b mt0"> Guests interested in Aso Ebi who haven't paid 
          {% for key,value in not_paid.items %}
              : {{ value }}</h2>
          {% endfor %}
          <br>
          {% for guest in guests %}
              {% if guest.aso_ebi%}
                {% if guest.aso_ebi_paid == False %}
                    {{ guest.name }} <br>
                {% endif %}
              {% endif %}
          {% endfor %}
          <div class="bt bb b--black-10"></div>

          <br>

          <h2 class="lh-title tc schedcontainer f4 b mt0"> Guests planning on staying in hotel block 
              {% for key,value in hotel.items %}
                : {{ value }}</h2>
              {% endfor %}
                  <br>
          {% for guest in guests %}
              {% if guest.hotel_accomodations %}
                    {{ guest.name }} <br>
              {% endif %}
          {% endfor %}
          <div class="bt bb b--black-10"></div>

          <br>

      </article>
      
  {% endblock content %}
  {% block footer %}
  {% endblock footer %}

</body>

</html>
