{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Responses </title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  {% block content %}

  <body class='forumfont ' >


    <nav class="dt tc w-100 mw8 center"> 
      <div class="dtc w2 v-mid pa3">
      </div>
      
      
      <div class="dtc v-mid regmenu tr pt3 ph0">
        <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'story' %}" >Our Story</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'schedule' %}" >Schedule</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'registry' %}" >Registry</a> 

        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'gallery' %}" >Gallery</a> 

        <div class="f1 fw3  black dn dib-l pl7 pv2 ph1 imperial"  >Fola & Lade </div> 

        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'party' %}" >Wedding Party</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'accomodations' %}" > Travel & Accommodations</a>
        <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 p12" href="{% url 'faq' %}" >FAQ</a> 
 
        <a class="f4 fw4 hover-green no-underline black dib ml2 pv2 ph2 ba" href="{% url 'findguest' %}" >RSVP</a> 
      </div>
    </nav> 
    <div class="mobilemenu black">
      <nav role="navigation">
        <div id="menuToggle">
          <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input type="checkbox" />
          
          <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
          <span></span>
          <span></span>
          <span></span>
          
          <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
          <ul id="menu" class="mobilemenu">
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'story' %}" >Our Story</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'schedule' %}" >Schedule</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'accomodations' %}" >Travel & Accommodations </a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'hosts' %}" >Hosts</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'party' %}" >Wedding Party</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'gallery' %}" >Gallery</a> 
            <br>
            <a class="f2  hover-green no-underline black   mb7  mv7 " href="{% url 'registry' %}" >Registry</a>
            <br> 
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'faq' %}" >FAQ</a> 
            <br>
            <a class="f2  hover-green no-underline black  mv7  ba" href="{% url 'findguest' %}" >RSVP</a> 
          </ul>
        </div>
      </nav>
    </div>


    <article class="pa3 tc pa5-ns">
        <h1 class="f1 imperial">Responses</h1>
        <article class="cf pa3 mw9 center">
          <header class="fl w-100 tc pa3-m pa4-l mb3 mb0-l">
            <h2 class="lh-title f3 b mt0">
              RSVP "yes" responses and dietary resrictions  
            </h2>
          </header>

          <section class="fl w-100">
            {% for event in events %}
            <div class="fl w-100 w-50-m w-33-l pa3-m pa4-l">
              <p class="f6 lh-copy measure">
                <h2 class="lh-title f3 b mt0">{{ event.name }}</h2>
                <br>
                  {% if event.name in yesses %}
                      {{ yesses }}
                  {% endif %}
                {% for invited in invitations %}
                    {% if invited.event == event %}
                      {% if invited.attending %} 
                        {{ invited.guest }}<br>
                      {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="bt bb b--black-10"></div>

                <h2 class="lh-title f4 b mt0"> {{ event.name }} Vegan List </h2>
                {% for invited in invitations %}
                    {% if invited.event == event %}
                      {% if invited.attending %} 
                      {% if invited.guest.diet == "vegan" %}
                              {{ invited.guest }}<br>
                      {% endif %}
                      {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="bt bb b--black-10"></div>

                <h2 class="lh-title f4 b mt0"> {{ event.name }} Vegetarian List </h2>
                {% for invited in invitations %}
                    {% if invited.event == event %}
                      {% if invited.attending %} 
                      {% if invited.guest.diet == "vegetarian" %}
                              {{ invited.guest }}<br>
                      {% endif %}
                      {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="bt bb b--black-10"></div>


                <h2 class="lh-title f4 b mt0"> {{ event.name }} Allergies List </h2>
                {% for invited in invitations %}
                    {% if invited.event == event %}
                      {% if invited.attending %} 
                      {% if invited.guest.food_allergies|length > 2 %}
                              {{ invited.guest }}<br>
                              {{ invited.guest.food_allergies }}<br>

                      {% endif %}
                      {% endif %}
                    {% endif %}
                {% endfor %}
                <br>
                <div class="bt bb b--black-10"></div>

                  <br>

              <p>
            </div>
            {% endfor %}
          </section>
      </article>
      
  {% endblock content %}
  {% block footer %}
  {% endblock footer %}

</body>

</html>
