{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Schedule </title>
  {% endblock title %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

  </head>
  
  {% block content %}
  <body class='forumfont fadeColor'>
    <div class="cover bg-left bg-center-l" style="background-image: url(https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/img/grad.png)">
        <div class="bg-black-40  ">
          <nav class="dt w-100 mw8 center"> 
            <div class="dtc w2 v-mid pa3">
            </div>
            
            
            <div class="dtc v-mid regmenu tr pt3 ph0">
              <a class="f4 fw4 hover-green no-underline white dn dib-ns pv2 ph2" href="{% url 'story' %}" >Our Story</a> 
              <a class="f4 fw4 hover-green no-underline white dn dib-l pv2 ph2" href="{% url 'schedule' %}" >Schedule</a> 
              <a class="f4 fw4 hover-green no-underline white dn dib-l pv2 ph2" href="{% url 'accomodations' %}" > Accomodations</a> 
              <a class="f4 fw4 hover-green no-underline white dn dib-l pv2 ph2" href="{% url 'hosts' %}" >Hosts</a> 
      
              <div class="f2 fw4  white dn dib-l pv2 ph2 imperial"  >Fola & Lade </div> 
              <a class="f4 fw4 hover-green no-underline white dn dib-l pv2 ph2" href="{% url 'party' %}" >Wedding Party</a> 
              <a class="f4 fw4 hover-green no-underline white dn dib-l pv2 ph2" href="{% url 'gallery' %}" >Gallery</a> 
      
              <a class="f4 fw4 hover-green no-underline white dn dib-ns pv2 ph2" href="{% url 'registry' %}" >Registry</a> 
              <a class="f4 fw4 hover-green no-underline white dn dib-ns pv2 ph2" href="{% url 'faq' %}" >FAQ</a> 
              <a class="f4 fw4 hover-green no-underline white dib ml2 pv2 ph2 ba" href="{% url 'findguest' %}" >RSVP</a> 
            </div>
          </nav> 
          <div class="mobilemenu black">
            <nav role="navigation">
              <div id="menuToggle">
                <!--
                A fake / hidden checkbox is used as click reciever,
                so you can use the :checked selector on it.
                -->
                <input type="checkbox" />
                
                <!--
                Some spans to act as a hamburger.
                
                They are acting like a real hamburger,
                not that McDonalds stuff.
                -->
                <span></span>
                <span></span>
                <span></span>
                
                <!--
                Too bad the menu has to be inside of the button
                but hey, it's pure CSS magic.
                -->
                <ul id="menu" class="mobilemenu">
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'story' %}" >Our Story</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'schedule' %}" >Schedule</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'accomodations' %}" >Accomodations</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'hosts' %}" >Hosts</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'party' %}" >Wedding Party</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'gallery' %}" >Gallery</a> 
                  <br>
                  <a class="f2  hover-green no-underline black   mb7  mv7 " href="{% url 'registry' %}" >Registry</a>
                  <br> 
                  <a class="f2  hover-green no-underline black   mv7 " href="{% url 'faq' %}" >FAQ</a> 
                  <br>
                  <a class="f2  hover-green no-underline black  mv7  ba" href="{% url 'findguest' %}" >RSVP</a> 
                </ul>
              </div>
            </nav>
          </div>
          <div class="pb3 tc pb5-ns">
            <h1 class="f1 white-90 mb3 ph2 imperial lh-title">Schedule</h1>
            </div>
          </div>
          </div>

      <ul class="list tc pt5 pl0 schedcontainer">
        {% for event in events %}
        <li class="pa3 pa4-ns bb b--black-10">
          <b class="db f3 mb1">{{ event.name }}</b>
          {% if event.description %}
            <span class="f5 db lh-copy ">
              {{ event.description }}          
            </span>
          {% endif %}
          <span class="f5 db lh-copy ">
            {{ event.date }}  
          </span>
          <span class="f5 db lh-copy ">
            {{ event.time }}        
           </span>
          <span class="f5 db lh-copy ">
            {{ event.location }}          
          </span>
          <span class="f5 db lh-copy ">
            {{ event.address }}          
          </span>
        </li>
        {% endfor %}
        </ul>
  </body>
  {% endblock content %}
</html>
