{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Our Story </title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  {% block content %}

  <body class='forumfont' >


    <nav class="dt w-100 mw8 center"> 
      <div class="dtc w2 v-mid pa3">
      </div>
      
      
      <div class="dtc v-mid regmenu tr pa3">
        <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph3" href="{% url 'story' %}" >Our Story</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph3" href="{% url 'schedule' %}" >Schedule</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph3" href="{% url 'accomodations' %}" >Accomodations</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph3" href="{% url 'party' %}" >Wedding Party</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph3" href="{% url 'gallery' %}" >Gallery</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph3" href="{% url 'registry' %}" >Registry</a> 
        <a class="f4 fw4 hover-green no-underline black dib ml2 pv2 ph3 ba" href="{% url 'rsvp' %}" >RSVP</a> 
      </div>
    </nav> 
    <div class="mobilemenu black">
      <nav role="navigation">
        <div id="menuToggle">
          <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input type="checkbox" />
          
          <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
          <span></span>
          <span></span>
          <span></span>
          
          <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
          <ul id="menu" class="mobilemenu">
            <a class="f2  hover-green no-underline black  pv5 mv4 " href="{% url 'story' %}" >Our Story</a> 
            <br>
            <a class="f2  hover-green no-underline black  pv5 mv4 " href="{% url 'schedule' %}" >Schedule</a> 
            <br>
            <a class="f2  hover-green no-underline black  pv5 mv4 " href="{% url 'accomodations' %}" >Accomodations</a> 
            <br>
            <a class="f2  hover-green no-underline black  pv5 mv4 " href="{% url 'party' %}" >Wedding Party</a> 
            <br>
            <a class="f2  hover-green no-underline black  pv5 mv4 " href="{% url 'gallery' %}" >Gallery</a> 
            <br>
            <a class="f2  hover-green no-underline black  pb7 mb7 pv5 mv4 " href="{% url 'registry' %}" >Registry</a>
            <br> 
            <a class="f2  hover-green no-underline black  mv4  ba" href="{% url 'rsvp' %}" >RSVP</a> 
          </ul>
        </div>
      </nav>
    </div>


    <article class="pa3 tc pa5-ns">
        <h1 class="f1 imperial">Our  Story</h1>
        <img src="https://raw.githubusercontent.com/tiana-horn/folade2022/main/wedding/static/img/IMG_4149.jpg" class="w-100 f5 measure" alt="Photo of outer space">
        <p class="measure center lh-copy">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos <b class="f3"> At
          et accusam et justo </b>  duo dolores et ea rebum. Stet clita kasd gubergren,
          no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <p class="measure center lh-copy">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
          vero eos et accusam et justo <b class="f3"> Lorem ipsum dolor </b> 
          duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
          ipsum dolor sit amet.
        </p>
        <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t1.6435-9/133605145_10224901462468582_1554730838349773702_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=sTTMawMqbBQAX_U9PHd&_nc_ht=scontent-iad3-2.xx&oh=00_AT_Tc15ATbwRuZ7EKC0oVYXGORd5ASYLe-RzP_mdRIuNhw&oe=61FE70F5" class="w-100 f5 measure" alt="Photo of outer space">
      </article>
      
  {% endblock content %}
  {% block footer %}
  {% endblock footer %}

</body>

</html>
