{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> Our Story </title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
   <style>
    .mySlides {display:none;}
  </style>
  <style>
    .mySlips {display:none;}
  </style>
     
  {% block content %}

  <body class='forumfont ' >


    <nav class="dt w-100 mw8 center"> 
      <div class="dtc w2 v-mid pa3">
      </div>
      
      
      <div class="dtc v-mid regmenu tr pt3 ph0">
        <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'story' %}" >Our Story</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'schedule' %}" >Schedule</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'accomodations' %}" > Accomodations</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'hosts' %}" >Hosts</a> 

        <div class="f2 fw4  black dn dib-l pv2 ph2 imperial"  >Fola & Lade </div> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'party' %}" >Wedding Party</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-l pv2 ph2" href="{% url 'gallery' %}" >Gallery</a> 

        <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'registry' %}" >Registry</a> 
        <a class="f4 fw4 hover-green no-underline black dn dib-ns pv2 ph2" href="{% url 'faq' %}" >FAQ</a> 
        <a class="f4 fw4 hover-green no-underline black dib ml2 pv2 ph2 ba" href="{% url 'findguest' %}" >RSVP</a> 
      </div>
    </nav> 
    <div class="mobilemenu black">
      <nav role="navigation">
        <div id="menuToggle">
          <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input type="checkbox" />
          
          <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
          <span></span>
          <span></span>
          <span></span>
          
          <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
          <ul id="menu" class="mobilemenu">
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'story' %}" >Our Story</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'schedule' %}" >Schedule</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'accomodations' %}" >Accomodations</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'hosts' %}" >Hosts</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'party' %}" >Wedding Party</a> 
            <br>
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'gallery' %}" >Gallery</a> 
            <br>
            <a class="f2  hover-green no-underline black   mb7  mv7 " href="{% url 'registry' %}" >Registry</a>
            <br> 
            <a class="f2  hover-green no-underline black   mv7 " href="{% url 'faq' %}" >FAQ</a> 
            <br>
            <a class="f2  hover-green no-underline black  mv7  ba" href="{% url 'findguest' %}" >RSVP</a> 
          </ul>
        </div>
      </nav>
    </div>
    <img class=" center topimg flex fl-w-100 pt0" src="https://folade.s3.us-east-2.amazonaws.com/static/img/euca.png">


    <article class="ph3 pb tc  ph5-ns pb5-ns">

        <h1 class="f1 imperial">Our  Story</h1>
        {% for flag in dev_flag %}
        {% if flag.story_page %}
            <div class="f5 mt1 errorcontainer mv1 pt1 pb3 tc container">
              <h5 class="f2 mt0 ph3 tc container">Coming Soon!</h5>
            </div>
        {% else %}


                {% for part in story %}
                <div class=" w-100 center tc f5 measure">
                  <img class="mySlides" src="{{ part.image1.url }}" alt="{{ part.image2_alt_text }}" >
                  <img class="mySlides" src="{{ part.image2.url }}" alt="{{ part.image2_alt_text }}" >
                </div>
                  {% if part.p1_story_owner %}
                  <div class="tc f2">{{ part.p1_story_owner }}</div>
                  {% endif %}
                    <p class="measure center lh-copy">
                      {{part.p1_part1}} <b class="f3"> {{ part.p1_bold }} </b>  {{ part.p1_part2 }}
                    </p>
                    {% if part.p2_story_owner %}
                      <div class="tc f2">{{ part.p2_story_owner }}</div>
                    {% endif %}
                      <p class="measure center lh-copy">
                      {{part.p2_part1}} <b class="f3"> {{ part.p2_bold }} </b>  {{ part.p2_part2 }}
                    </p>
                <div class=" w-100 center tc f5 measure">
                  <img class="mySlips" src="{{ part.image2.url }}" alt="{{ part.image2_alt_text }}" >
                  <img class="mySlips" src="{{ part.image1.url }}" alt="{{ part.image2_alt_text }}" >
                </div>



                  {% endfor %}
        {% endif %}
        {% endfor %}
      </article>

    {% if song.link %}
    <iframe class="middle pb1" width="0%" height="0" src="{{song.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe> 
    {% else %}
    <div></div>
    {% endif %}



      
      
      
 
      
      <script>
      var myIndex = 0;
      var myInd = 0;
        
      carousel();
      carousel2();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 3000); // Change image every 4 seconds
      }

      function carousel2() {
        var u;
        var l = document.getElementsByClassName("mySlips");
        for (u = 0; u < l.length; u++) {
          l[u].style.display = "none";  
        }
        myInd++;
        if (myInd > l.length) {myInd = 1}    
        l[myInd-1].style.display = "block";  
        setTimeout(carousel2, 3000); // Change image every 4 seconds
      }
      </script>

        
  </body>

  {% endblock content %}
  {% block footer %}

  {% endblock footer %}


  </html>
