{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% block title %}
  <title> RSVP </title>
  {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  {% block content %}
  <body class='forumfont ' >
      <img class=" center topimg flex fl-w-100 pt0" src="https://folade.s3.us-east-2.amazonaws.com/static/img/PngItem_789758.png">

      <h1 class="f1 mw6 center mt5  tc">RSVP</h1>
            <div class="f5 mt1 errorcontainer mv1 pt1 pb3 tc container">

              <h5 class="f2 mt0 ph3 tc container">Thank you for your response!</h5>


  </body>
  {% endblock content %}
</html>
